<!DOCTYPE html>
<html>
    <head>
       <link href="/assets/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <%- include('partials/nav') %>
        <h1>welome to the most awesome on the net</h1>
        <p>You wont find it elsewhere</p>
    </body>
</html>